@import url('../main.css');

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero {
  background-image: url('../assets/contact-us-banner.jpg');
}

.hero__filter {
  box-shadow: none;
  background-color: rgb(0 0 0 / 60%);
}

.hero-container {
  min-height: 20dvh;
}

.location-card__img {
  max-width: 50px;
  max-height: 50px;
}

.contact-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em 0;
}

.contact-us__title {
  margin: 0;
  padding-bottom: 2em;
}

.contact-us__locations {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contact-us__location-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* border: 1px solid gray; */
  border-radius: 5px;
  box-shadow: 0 0 2px 1px #bbb5b5;
  padding: 2em;
  text-align: center;
}

.form-container {
  padding: 2em 0;
  padding-bottom: 5em;
}

.form__title {
  margin: 0;
  padding-bottom: 2em;
  text-align: center;
}

.required-star {
  color: red;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.form__body,
.form__short-fields,
.form__long-fields {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form__offer-field {
  display: flex;
  gap: 1em;
  font-weight: bold;
}

.form__link {
  color: var(--primary-color);
}

.form__button {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background-color: white;
  padding: 0.5rem 1rem;
  color: var(--primary-color);
}

.form__input-box {
  padding: 0.5rem;
}

.page-container {
  max-width: 1100px;
}

@media screen and (width >= 765px) {
  .form__short-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (width >= 1024px) {
  .contact-us__locations {
    flex-direction: row;
  }
}

.dialog__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog__button {
  border-radius: 2px;
  padding: 1em;
}
