@import url('../main.css');

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero {
  background-image: url('../assets/contact-us-banner.jpg');
}

.hero__filter {
  box-shadow: none;
  background-color: rgb(0 0 0 / 60%);
}

.hero-container {
  min-height: 20dvh;
}

.location-card__img {
  max-width: 50px;
  max-height: 50px;
}

.contact-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em 0;
}

.contact-us__locations {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contact-us__location-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* border: 1px solid gray; */
  border-radius: 5px;
  box-shadow: 0 0 2px 1px #bbb5b5;
  padding: 2em;
  text-align: center;
}
