@font-face {
  font-family: sofia-pro;
  font-weight: bold;
  font-style: normal;
  src: url('fonts/sofia_pro_bold_az.woff') format('woff');
}

@font-face {
  font-family: sofia-pro;
  font-weight: normal;
  font-style: normal;
  src: url('fonts/sofia_pro_regular_az.woff') format('woff');
}

:root {
  --font-family-common:
    system-ui, -apple-system, 'Segoe UI', 'Open Sans', 'Helvetica Neue',
    sans-serif;
  --primary-color: #e61f00;

  font-family: sofia-pro, var(--font-family-common);
}

.root__body {
  margin: 0;
}

.body {
  min-height: 100dvh;
}

.page-container {
  margin: 0 auto;
  width: 90%;
  max-width: 1500px;
}

.nav {
  padding: 1em 0;
}

.nav__content {
  display: none;
  text-align: center;
}

.visible {
  display: block;
}

.nav__logo {
  /* border: 1px solid black; */
}

.nav__list {
  margin: 0;
  padding: 1em 0;
  list-style: none;
}

.nav__item {
  padding: 0.5em 0;
}

.nav__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ham-menu {
  --side-length: 40px;

  position: relative;
  border-radius: 0.2rem;
  background-color: transparent;
  padding: 0;
  width: var(--side-length);
  height: var(--side-length);
  font-size: 1rem;
}

.ham-menu__span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition:
    transform,
    top,
    0.3s ease-in-out;
  border-radius: calc(var(--side-length) / 2);
  background-color: var(--primary-color);
  width: 100%;
  height: calc(var(--side-length) / 8);
}

.ham-menu__span:nth-child(1) {
  top: 25%;
}

.ham-menu__span:nth-child(3) {
  top: 75%;
}

/* stylelint-disable selector-max-class, selector-max-combinators */
.ham-menu.active > .ham-menu__span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active > .ham-menu__span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active > .ham-menu__span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
/* stylelint-enable selector-max-class, selector-max-combinators */

/* The 3Di Engage text in the navigation. */
.red-big,
.black-big {
  font-size: 1.2rem;
  font-weight: bold;
}

.red-big {
  color: var(--primary-color);
}

.black-big {
  color: black;
}

.nav__link {
  text-decoration: none;
  color: inherit;
}

.nav__link:hover {
  color: #1562d4;
}

.button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

.nav__button {
  border: 1px solid var(--primary-color);
  border-radius: 0.3rem;
  background-color: var(--primary-color);
  padding: 0.8em 1em;
  color: white;
  font-weight: bold;
}

.nav__button:hover {
  background-color: white;
  color: var(--primary-color);
}

.hero__title {
  margin: 0;
}
